services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: posts_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
